*{
    margin: 0%;
    padding: 0%;
}
.main-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}
.main-children{
    border: 1px solid;
    width: 450px;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
}
.box{
    width: 80px;
    height: 80px;
    margin:0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    font-family: sans-serif;
    font-weight: 200;
    font-size: xx-large;
    border: none;
}
.rows{
    display:flex ;
    justify-content:center;
    padding: 4px;
}
.total{
    border: 3px solid white;
    height: 60px;
    width: 413px;
    position: relative;
    left: 14px;
    margin-bottom: 6px;
    border-radius: 20px;
    color: white;
    font-family: sans-serif;
    font-weight: 200;
    font-size: xx-large;
}
.nw{
    background-color: rgb(204, 204, 204);
}
.sw{
    background-color: rgb(78, 78, 78);
}
#equals{
    background-color: blue;
    color: white;
}
.box:active{
    border: 4px solid white;
}
